In [12]:
import numpy as np
import pandas as pd

In [13]:
delivery = pd.read_csv('deliveries.csv')

In [121]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

## Grouping DataFrame by Batsman

In [80]:
runs = delivery.groupby('batsman')     #grouping by batsman

# Batsman with highest runs in IPL

In [119]:
runs['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

# Batsman with most 6's in IPL

In [64]:
mask = delivery['batsman_runs'] == 6
new_delivery = delivery[mask]

In [65]:
new_delivery.shape[0]

6523

In [66]:
new_delivery.groupby('batsman').size().sort_values(ascending=False).head(10)

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
V Kohli           160
DA Warner         160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
dtype: int64

In [84]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(10)

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
V Kohli           160
DA Warner         160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: batsman_runs, dtype: int64

# Most runs against teams scored by a player

In [15]:
mask2 = delivery['batsman'] == 'KA Pollard'
run_team = delivery[mask2]

In [21]:
run_team.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

bowling_team
Royal Challengers Bangalore    451
Chennai Super Kings            378
Delhi Daredevils               304
Kings XI Punjab                277
Rajasthan Royals               257
Sunrisers Hyderabad            224
Kolkata Knight Riders          213
Gujarat Lions                   74
Deccan Chargers                 70
Pune Warriors                   55
Rising Pune Supergiant          50
Rising Pune Supergiants          1
Name: batsman_runs, dtype: int64

# Function for calculating batsmans most runs against teams

In [6]:
def runs_scored(batsman_name):
    mask2 = delivery['batsman'] == batsman_name
    run_team = delivery[mask2]
    runs = run_team.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)
    return runs

## using the function created above to get output of different batsman

In [115]:
runs_scored('KS Williamson')       

#these are the teams that Williamson has most runs against

bowling_team
Delhi Daredevils               140
Kolkata Knight Riders           71
Royal Challengers Bangalore     55
Kings XI Punjab                 54
Rising Pune Supergiants         32
Chennai Super Kings             26
Rising Pune Supergiant          25
Gujarat Lions                    6
Mumbai Indians                   2
Name: batsman_runs, dtype: int64

In [7]:
runs_scored("CH Gayle")

bowling_team
Kings XI Punjab                797
Kolkata Knight Riders          532
Mumbai Indians                 469
Delhi Daredevils               383
Pune Warriors                  383
Rajasthan Royals               295
Chennai Super Kings            277
Sunrisers Hyderabad            230
Gujarat Lions                  100
Royal Challengers Bangalore     74
Deccan Chargers                 67
Kochi Tuskers Kerala            44
Name: batsman_runs, dtype: int64

# isin( ) function

we use isin( ) function if there are many conditions doing mask. In this case using isin( ) function will decrease our code line and efficiency

### Find the most destructive death over batsman in the history of IPL
Min 200 balls in over 16-20

In [25]:
mask3 = delivery['over']>15
death_over = delivery[mask3]

In [38]:
all_batsman = death_over.groupby('batsman')['batsman_runs'].count()
x = all_batsman>200
batsman_list = all_batsman[x].index.tolist()

#when we give boolean value to variable it will only give values that are true like in this case of all_batsman[x]

In [47]:
final = death_over[delivery['batsman'].isin(batsman_list)]

/var/folders/bt/tptysj9x3m30xxwnwd_mxpww0000gn/T/ipykernel_87755/619725301.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final = death_over[delivery['batsman'].isin(batsman_list)]

In [50]:
runs = final.groupby('batsman')['batsman_runs'].sum()     #total runs scored in death over

In [58]:
balls = final.groupby('batsman')['batsman_runs'].count()     #total balls faced in death over

In [53]:
sr = (runs/balls)*100   #Strike Rate

## Highest Strike Rate in death overs of IPL (over 200 balls faced by batsman)

In [57]:
sr.sort_values(ascending=False)

batsman
AB de Villiers      211.052632
DA Warner           189.473684
DA Miller           186.666667
V Kohli             181.868132
RG Sharma           175.668449
DJ Hussey           175.213675
RV Uthappa          173.454545
Yuvraj Singh        171.124031
JH Kallis           170.562771
MS Dhoni            169.607843
SPD Smith           169.303797
JP Duminy           167.760618
DJ Bravo            167.726161
SK Raina            167.467249
AT Rayudu           165.411765
WP Saha             163.389831
KA Pollard          161.336516
YK Pathan           159.246575
S Dhawan            158.847737
BJ Hodge            157.402597
AM Rahane           152.985075
LRPL Taylor         152.941176
KD Karthik          152.051836
DPMD Jayawardene    152.032520
MK Pandey           151.785714
JA Morkel           149.882353
JP Faulkner         149.319728
S Badrinath         149.116608
Y Venugopal Rao     148.846154
Harbhajan Singh     147.607656
AD Mathews          147.058824
KM Jadhav           144.378698
STR Binny           144.036697
AR Patel            142.794760
IK Pathan           142.580645
MK Tiwary           140.189125
SS Tiwary           136.666667
NV Ojha             134.868421
RA Jadeja           130.729167
PP Chawla           120.257235
P Kumar             109.701493
R Vinay Kumar       108.936170
A Mishra            100.888889
Name: batsman_runs, dtype: float64

# The Merge Function

In [59]:
 match = pd.read_csv('matches.csv')

In [66]:
new = delivery.merge(match,left_on='match_id',right_on='id')

In [79]:
#This will give us runs scored by every batsman in every season

new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False) #multi-index series

season  batsman
2016    V Kohli        973
        DA Warner      848
2013    MEK Hussey     733
2012    CH Gayle       733
2013    CH Gayle       720
                      ...
2017    MM Patel         0
2012    AC Blizzard      0
2011    AB Dinda         0
2017    AD Nath          0
2008    L Balaji         0
Name: batsman_runs, Length: 1531, dtype: int64

In [90]:
#turn series into dataframe

orange_cap = new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()
orange_cap

      season      batsman  batsman_runs
0       2016      V Kohli           973
1       2016    DA Warner           848
2       2013   MEK Hussey           733
3       2012     CH Gayle           733
4       2013     CH Gayle           720
...      ...          ...           ...
1526    2017     MM Patel             0
1527    2012  AC Blizzard             0
1528    2011     AB Dinda             0
1529    2017      AD Nath             0
1530    2008     L Balaji             0

[1531 rows x 3 columns]

In [96]:
orange_cap.drop_duplicates(subset='season').sort_values('season')[['season','batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
3     2012      CH Gayle
2     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner